$faction-vs: #460e62;
$faction-nc: #003e80;
$faction-tr: #c82f1c;

.faction-vs {
	color: $faction-vs;
}

.faction-nc {
	color: $faction-nc;
}

.faction-tr {
	color: $faction-tr;
}

.faction-vs-bg {
	background: rgb(1,13,29);
	background: linear-gradient(90deg, rgba(1,13,29,1) 0%, rgba(70,42,173,1) 15%, rgba(84,49,214,1) 50%, rgba(70,42,173,1) 85%, rgba(1,13,29,1) 100%);
}

.faction-nc-bg {
	background: rgb(1,13,29);
	background: linear-gradient(90deg, rgba(1,13,29,1) 0%, rgba(4,46,135,1) 15%, rgba(5,56,163,1) 50%, rgba(4,46,135,1) 85%, rgba(1,13,29,1) 100%);
}

.faction-tr-bg {
	background: rgb(1,13,29);
	background: linear-gradient(90deg, rgba(1,13,29,1) 0%, rgba(158,38,23,1) 15%, rgba(200,47,28,1) 50%, rgba(158,38,23,1) 85%, rgba(1,13,29,1) 100%);
}

.faction-icon {
	width: 32px;
	display: inline-block;
	filter: drop-shadow(0pt 0pt 1px #aaa);
}
